.btn-cart {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  color: #545454;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
}

.delete_cart_page {
  background: url("https://static.cotodigital3.com.ar/sitios/cdigi/static/content/images/cdigi/ic_delete.png");
  padding-left: 20px !important;
}
