.btn-cart {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  color: #545454;
  margin-left: 15px;
  cursor: pointer;
  padding: 5px;
  margin-top: 35px;
}

.delete_cart_page {
  background: url("https://static.cotodigital3.com.ar/sitios/cdigi/static/content/images/cdigi/ic_delete.png");
  padding-left: 20px !important;
}

.btn-pagar-cart:hover {
  background-color: #0fabd4 !important;
}

.p-text-cart {
  font-size: 12px;
  float: left;
  margin-top: 4px;
  margin-bottom: 5px;
}

#h3-cart {
  margin-left: -15px;
  line-height: 50px;
}

#h2-products-cart {
  color: #6dc5e9;
}
