.price {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.btn {
  background-color: #47b8d6 !important;
  color: white !important;
  font-weight: normal !important;
}

.btn:hover {
  color: black !important;
}

.box-in-product {
  margin-bottom: 10px;
}

#alert {
  margin-left: -60px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e1e1e1;
}
