$satisfy: "Satisfy", cursive;

@mixin brandElements {
  float: left;
  margin-left: 200px;
  font-family: $satisfy;
  color: wheat;
  text-shadow: 5px 1px 5px black;
  font-size: 25px;
}

#brand {
  @include brandElements();
}
