@mixin elementsNavBar {
  background-color: #47b8d6;
  color: white;
  min-height: 30px;
  line-height: 30px;
}

@mixin elementsLi {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

@mixin elementsBrand {
  width: 10%;
  position: absolute;
  left: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navBar {
  @include elementsNavBar();
  ul {
    text-align: center;
  }
  li {
    @include elementsLi();
  }
  #brand {
    @include elementsBrand();
  }
}
