.card-w {
  width: 19%;
}

.price{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.btn{
  background-color: #47b8d6!important;
  color: white!important;
  font-Weight: normal!important;
}

.btn:hover{
  color: black!important;
}