.text-resume {
    float: left;
    margin-left: 20px;
  }
  
  .price-resume {
    float: right;
    margin-right: 20px;
  }
  
  #total-price-resume {
    color: #0fabd4;
    font-size: 20px;
  }
  
  #btn-resume {
    width: 70%;
    margin-top: 20px;
    background-color: #47b8d6;
  }
  