#footer {
  height: 95px;
  background-color: #2aa9ca;
  margin: auto;
  width: 100%;
  text-align: center;
  #p-footer {
    line-height: 95px;
    font-size: 23px;
    color: gainsboro;
    font-family: "Open Sans", sans-serif;
  }
}
