#price-product-cart {
  margin-left: 60px;
  font-size: 1em;
}

#circularStatic {
  margin-left: "60px";
}

.stock {
  text-transform: uppercase;
  margin-top: 5px;
  color: red;
  text-align: center;
  margin-left: 15px;
}
