#navBar {
  background-color: #47b8d6;
  color: white;
  min-height: 30px;
  line-height: 40px;
}
#navBar ul {
  text-align: center;
}
#navBar ul a {
  color: white;
}
#navBar .li {
  padding: 0 18px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
#navBar .li:hover {
  background-color: white;
  color: #47b8d6;
}

#total-price {
  font-size: 15px;
  margin-left: 10px;
}

#brand {
  float: left;
  margin-left: 200px;
  font-family: "Satisfy", cursive;
  color: wheat;
  text-shadow: 5px 1px 5px black;
  font-size: 25px;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 95px;
  background-color: white;
}

#header-img {
  width: 4%;
  height: 55px;
  background-color: white;
  margin-top: 20px;
  margin-left: 5px;
}

#search {
  width: 61%;
  float: left;
}

#input-search {
  width: 35%;
  border-radius: 19px;
  height: 35px;
  float: right;
  margin-top: 30px;
  border: 1px solid #cdcccb;
  color: #999999;
  font-size: 16px;
  font-family: poppins;
  font-weight: 300;
  padding: 0 10px !important;
  font-family: "Poppins", sans-serif;
  outline: none;
}

#input-search:focus {
  box-shadow: 0px 0px 10px lightskyblue;
}

#search-for {
  background-color: #47b8d6;
  width: 36px;
  height: 36px;
  border: 0 none;
  border-radius: 20px;
  cursor: pointer !important;
  overflow: hidden;
  position: absolute;
  right: 39%;
  top: 30px;
}
#search-for .fa-search {
  color: white;
  font-size: 22px;
  line-height: 35px;
  margin-left: 3px;
  margin-top: 7px;
}

.price {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.btn {
  background-color: #47b8d6 !important;
  color: white !important;
  font-weight: normal !important;
}

.btn:hover {
  color: black !important;
}

#btn-add {
  margin-top: 10px;
  background-color: #47b8d6;
}

.box-in-product {
  margin-bottom: 10px;
}

#alert {
  margin-left: -60px;
}

#item_price {
  font-weight: bold;
  font-size: 21px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e1e1e1;
}

#btn-add {
  margin-top: 10px;
  background-color: #47b8d6;
}

.btn-card:hover {
  border: none !important;
}

#btn-itemCount-add {
  background: url("https://static.cotodigital3.com.ar/sitios/cdigi/static/content/images/cdigi/touch_right.png") no-repeat !important;
  width: 43px;
  height: 38px;
  display: inline-block;
  cursor: pointer !important;
}

#btn-itemCount-subtract {
  background: url("https://static.cotodigital3.com.ar/sitios/cdigi/static/content/images/cdigi/touch_left.png") no-repeat !important;
  width: 43px;
  height: 38px;
  display: inline-block;
  cursor: pointer !important;
  margin-right: 1px;
}

#box-initial {
  display: inline-block;
  width: 50px;
  height: 35px;
  margin-right: 4px;
  font-size: 16px;
  text-align: center;
  background: white;
  border: 1px solid #ccc;
  margin-left: 10px;
  padding-top: 13px;
}

.layout {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-list {
  margin-left: 70px;
}

.box {
  border: 1px solid #f0f0f0;
  text-align: center;
  margin: 0px;
}

.list-title {
  text-align: center;
  font-size: 25px;
  margin-top: 3em;
  margin-bottom: 40px;
  margin-left: 70px;
  float: left;
  color: lightcoral;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#small-cart {
  width: 70%;
  min-height: 309px;
}

#small-cart-cleansed {
  border: 1px solid gainsboro;
  height: 309px;
}

#list-small-cart {
  border: 1px solid gainsboro;
  height: 336px;
  overflow: auto;
}

#title-small-cart {
  text-align: center;
  background-color: #094360;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 45px;
  line-height: 45px;
}
#title-small-cart span {
  float: right;
  margin-right: 15px;
}

#text-cart {
  font-size: 16px;
  text-align: center;
  color: #333;
  font-weight: normal;
  margin-top: 40px;
}

#clear-small-cart {
  border: none;
  text-align: center;
  outline: 0;
  text-decoration: underline;
  color: #333;
  cursor: pointer;
  background: none;
  padding: 4px 0px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-bottom: 8px;
}
#clear-small-cart hr {
  width: 35%;
  margin-bottom: 5px;
}

#total-small-cart {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding-top: 20px;
}
#total-small-cart span {
  color: red;
}

#detail-container {
  text-align: center;
}

#description-detail {
  margin-top: 10px;
  font-weight: 400;
  padding-top: 0px;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #34495e !important;
  font-size: 33px;
  margin-left: 5px;
}

#regular-price {
  color: #2cad73;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 3px;
}

#price-detail {
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
}

#stock-detail {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: -10px;
  color: red;
}

#itemCount-detail {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}

.btn-lightBlue {
  margin-top: 30px !important;
  width: 39%;
  box-sizing: border-box;
  float: left;
  font-weight: 400;
  background: #47b8d6 !important;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px !important;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease 0s;
}

.btn-terminarCompra {
  width: 29%;
  line-height: 13px !important;
  margin-right: 10px;
  margin-left: 85px !important;
}

.btn-agregar {
  margin-left: 15px !important;
}

#price-product-cart {
  margin-left: 60px;
  font-size: 1em;
}

#circularStatic {
  margin-left: "60px";
}

.stock {
  text-transform: uppercase;
  margin-top: 5px;
  color: red;
  text-align: center;
  margin-left: 15px;
}

.product-total-count {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 41px;
}

.productInCart-img {
  width: 70% !important;
}

.x-product-delete {
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

#itemCount-smallCart {
  margin-left: 5px;
}

#name_itemSmallCart {
  font-weight: bold;
  margin-bottom: 3px;
  text-decoration: underline;
}

.btn-cart {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  color: #545454;
  margin-left: 15px;
  cursor: pointer;
  padding: 5px;
  margin-top: 35px;
}

.delete_cart_page {
  background: url("https://static.cotodigital3.com.ar/sitios/cdigi/static/content/images/cdigi/ic_delete.png");
  padding-left: 20px !important;
}

.btn-pagar-cart:hover {
  background-color: #0fabd4 !important;
}

.p-text-cart {
  font-size: 12px;
  float: left;
  margin-top: 4px;
  margin-bottom: 5px;
}

#h3-cart {
  margin-left: -15px;
  line-height: 50px;
}

#h2-products-cart {
  color: #6dc5e9;
}

.cart-title {
  font-size: 30px;
  margin-top: 20px;
}

.cart-content {
  width: 60%;
}

.price-title {
  margin-right: 102px;
}

.truck-in-cart {
  width: 60% !important;
  padding: 8px;
}

.btn-empty-view {
  width: 15% !important;
  display: block !important;
  margin: 0px auto !important;
  background: #47b8d6 !important;
}

#spinner-itemDetailContainer {
  margin-top: 30px;
}

#catalogs {
  min-height: 1100px;
  background: #ecf1f7;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 35px;
  text-align: center;
  padding: 100px 10px 10px 10px;
  height: 400px;
}

.image-box {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin: 0.5px;
  border: 0px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  transition: 150ms all;
}

.image-box:hover {
  box-shadow: 2px 1px 5px 0px lightblue;
}

.fish {
  grid-column: 1/4;
  grid-row: 1/3;
  background-image: url(../public/images/pescaderia.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f8fcff;
  border-radius: 10px;
}

.juices {
  grid-column: 4/7;
  background-image: url(../public/images/jugos.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #ecece1;
}

.alcohol {
  grid-column: 4/7;
  background-image: url(../public/images/alcohol.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #343434;
}

.delicatessen {
  grid-column: 1/3;
  background-color: #fff;
  background-image: url(../public/images/rotiseria.png);
  background-repeat: no-repeat;
  background-position: right !important;
  background-size: contain;
  border: 1px solid #e3e3e3;
}

.bakery {
  grid-column: 3/5;
  background-color: #fff;
  background-image: url(../public/images/panaderia-artesanal.png);
  background-repeat: no-repeat;
  background-position: right !important;
  background-size: contain;
  border: 1px solid #e3e3e3;
}

.pasta {
  grid-column: 5/7;
  background-color: #fff;
  background-image: url(../public/images/pastas.png);
  background-repeat: no-repeat;
  background-position: right !important;
  background-size: contain;
  border: 1px solid #e3e3e3;
}

#content-fish {
  display: block;
  height: 220px;
  max-width: 35%;
  padding: 15px;
  margin-left: 2%;
}
#content-fish #p1-span {
  font-weight: 500;
  color: #636363;
  line-height: 24px;
  text-transform: inherit;
  display: block;
  margin-top: 10%;
}
#content-fish #p2-span {
  font-weight: 900;
  font-size: 30px;
  color: #636363;
  line-height: 26px;
  text-transform: inherit;
  display: block;
  margin-bottom: 25px;
}
#content-fish #p3-span {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-transform: inherit;
  line-height: 16px;
  margin-top: 0;
  background-color: #00bcd4;
  padding: 2px 11px 2px 25px;
  margin-left: -26px;
}

#content-juices {
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  width: 21%;
  display: block;
}
#content-juices #p1-span {
  color: #01afc7;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  text-transform: inherit;
  display: block;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}
#content-juices #p2-span {
  color: #636363;
  font-weight: 600;
  font-size: 21px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 5px;
  float: left;
  margin-left: 20px;
  width: 54%;
  text-transform: inherit;
  text-align: initial;
}

#content-alcohol {
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  width: 21%;
  display: block;
}
#content-alcohol #p1-span {
  color: #ffc107;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  text-transform: inherit;
  display: block;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}
#content-alcohol #p2-span {
  color: #d6d6d6;
  font-weight: 600;
  font-size: 21px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 5px;
  float: left;
  margin-left: 20px;
  width: 54%;
  text-transform: inherit;
  text-align: initial;
}

#content-delicatessen,
#content-bakery,
#content-pasta {
  padding: 28px 12px 12px 15px;
  float: left;
  margin-left: 20px;
  width: 20%;
  text-transform: inherit;
  text-align: left;
}
#content-delicatessen #p-span,
#content-bakery #p-span,
#content-pasta #p-span {
  font-weight: 600;
  font-size: 22px;
  color: #636363;
  line-height: 26px;
}

.grid-layout-electros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  min-height: 400px;
}

.electros {
  grid-column: 1/3;
  grid-row: 1/4;
  margin-right: 20px;
  background-color: white;
  background-image: url(../public/images/electros.png);
  background-position: 54px 77px;
  border-radius: 6px 6px 0 0;
  background-size: 80%;
  background-repeat: no-repeat;
}

#content-electros {
  padding: 15px 12px 12px 5px;
  display: block;
  float: left;
  margin-top: 300px;
}
#content-electros #p1-span {
  font-weight: 600;
  font-size: 30px;
  color: #01afc7;
  line-height: 26px;
  text-transform: inherit;
  float: left;
}
#content-electros #p2-span {
  color: #636363;
  font-weight: 600;
  font-size: 24px;
  text-transform: inherit;
  line-height: 20px;
  margin-bottom: 0;
}

.televisores {
  background-image: url(../public/images/tv.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.televisores #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

.heladeras {
  background-image: url(../public/images/heladera.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.heladeras #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

.climatizacion {
  background-image: url(../public/images/aire.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.climatizacion #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

.desayuno {
  background-image: url(../public/images/desayuno.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.desayuno #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

.ventilacion {
  background-image: url(../public/images/ventilador.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.ventilacion #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

.cuidadoPersonal {
  background-image: url(../public/images/secador.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
.cuidadoPersonal #p-span {
  font-weight: 600;
  font-size: 23px;
  color: #636363;
  line-height: 20px;
  text-transform: inherit;
  display: block;
  float: left;
  margin-top: 57px;
  margin-left: 135px;
}

#footer {
  height: 95px;
  background-color: #2aa9ca;
  margin: auto;
  width: 100%;
  text-align: center;
}
#footer #p-footer {
  line-height: 95px;
  font-size: 23px;
  color: gainsboro;
  font-family: "Open Sans", sans-serif;
}

.wrap-box {
  width: 65%;
}

form {
  margin-bottom: 10px;
}

.input-form {
  width: 98%;
  margin-top: 20px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #dddcdc;
  color: #6d6d6d;
}

#p-box {
  font-family: Roboto, sans-serif;
  color: #999;
  font-size: 16px;
}

#p-select {
  float: left;
}

#title-box {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 26px;
  font-family: Roboto, sans-serif;
}

#div-select {
  float: left;
  margin-left: 20px;
}
#div-select select {
  float: left;
  width: 89%;
  height: 40px;
  background-color: white;
  border: 1px solid #e0e0e0;
  outline: none;
}

#div-date {
  float: left;
}
#div-date input {
  float: left;
  width: 100%;
  height: 35px;
  background-color: #e9e9ed;
  border: 1px solid #e0e0e0;
  outline: none;
}

#btn-form {
  color: white;
  background-color: #47b8d6;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#btn-form:hover {
  box-shadow: 0px 1px 3px 1px #9b9b9b;
}

#btn-form-disable {
  color: #6d6d6d;
  background-color: #dddcdc;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.error-msg-form {
  color: red;
  background-color: mistyrose;
  margin-top: 15px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.text-resume {
  float: left;
  margin-left: 20px;
}

.price-resume {
  float: right;
  margin-right: 20px;
}

#total-price-resume {
  color: #0fabd4;
  font-size: 20px;
}

#btn-resume {
  width: 70%;
  margin-top: 20px;
  background-color: #47b8d6;
}

* {
  margin: 0px auto;
  padding: 0px auto;
  text-decoration: none;
}

.wrap {
  width: 70%;
}

.clearFix {
  clear: both;
  float: none;
}

.height-view {
  min-height: 100vh;
}

.error404 {
  color: red;
  background-color: mistyrose;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  padding-left: 10px;
}

@media (max-width: 1440px) {
  .css-iv7vbz-MuiGrid-root {
    margin-top: 0px;
  }

  #small-cart {
    width: 90%;
  }

  #content-alcohol #p1-span {
    margin-top: 10px;
    margin-left: 0px;
    width: 62%;
  }

  #content-alcohol #p2-span {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
    width: 66%;
  }

  .btn-empty-view {
    margin-top: 40px !important;
    width: 30% !important;
  }

  .itemCount-div {
    margin-left: -46px;
  }
}
@media (max-width: 810px) {
  .css-1pxusvs-MuiGrid-root {
    margin-left: 150px !important;
    padding-top: 30px;
  }

  #input-search {
    width: 58%;
    font-size: 18px;
  }

  #header-img {
    width: 10%;
  }

  #search {
    width: 67%;
  }

  #search-for {
    right: 33%;
  }

  .css-1b7z8hn-MuiButtonBase-root-MuiIconButton-root {
    float: none !important;
    margin-left: 20px !important;
  }

  .css-iv7vbz-MuiGrid-root {
    margin-top: 25px !important;
  }

  .list-title {
    margin-left: 145px;
  }

  #footer #p-footer {
    font-size: 19px;
  }

  .grid-layout {
    grid-gap: 15px;
  }

  .wrap {
    width: 90%;
  }

  #content-fish {
    margin-left: -3%;
    margin-top: -3px;
  }

  #content-fish #p1-span {
    font-size: 14px;
    background-color: #f3f5f7;
    border-radius: 3px;
    margin-top: -10%;
    opacity: 0.8;
    font-weight: bold;
  }

  #content-fish #p2-span {
    font-size: 20px;
    line-height: 16px;
    background-color: #f3f5f7;
    border-radius: 3px;
    padding-bottom: 4px;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  #content-fish #p3-span {
    font-size: 12px;
    margin-left: -16px;
  }

  #content-juices {
    width: 26%;
    margin-top: -3px;
  }

  #content-juices #p1-span {
    color: #00bcd4;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 2px;
    line-height: 15px;
    background-color: #f3f5f7;
    opacity: 0.8;
    padding: 2px;
    border-radius: 3px;
  }

  #content-juices #p2-span {
    width: 55%;
    font-size: 20px;
    line-height: 15px;
    margin-left: 8px;
  }

  #content-alcohol {
    margin-top: -3px;
    margin-left: -3px;
  }

  #content-alcohol #p1-span {
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #content-alcohol #p2-span {
    font-size: 20px;
    line-height: 17px;
    margin-top: 8px;
    margin-left: 13px;
    width: 85%;
  }

  #content-delicatessen,
#content-bakery,
#content-pasta {
    padding: 9px 12px 12px 15px;
    margin-left: 0px;
    margin-top: -10px;
    margin-left: -10px;
  }

  #content-delicatessen #p-span,
#content-bakery #p-span,
#content-pasta #p-span {
    font-size: 18px;
    color: maroon;
    line-height: 0px;
    background-color: white;
    opacity: 0.8;
    border-radius: 6px;
  }

  .electros {
    background-position: 27px 75px;
    width: 99%;
    margin: 0px;
  }

  #content-electros {
    width: 92%;
    margin-top: 155px;
    padding: 15px 12px 12px 0px;
  }

  #content-electros #p1-span {
    font-size: 25px;
    margin-left: 12px;
  }

  .televisores {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .css-1vb78ys {
    margin-left: 120px !important;
    margin-top: 50px !important;
  }

  .css-3ktufm-MuiGrid-root {
    margin-left: -16px !important;
  }

  .detail-img {
    margin-left: 100px !important;
    margin-bottom: 50px !important;
  }

  .detail-description {
    margin-left: 30px !important;
  }

  .detail-SmallCart {
    margin-bottom: 100px !important;
  }

  .btn-empty-view {
    margin-top: 40px !important;
    width: 60% !important;
  }

  .itemCount-container {
    margin-top: 120px;
  }

  .product-total-count {
    margin-left: 10px;
  }

  .x-product-delete {
    margin-left: 32px;
    margin-bottom: 45px;
    width: 50%;
    background-color: #e26060;
    color: white;
    border: 0px;
    height: 28px;
    font-size: 15px;
  }

  .productInCart-description {
    margin-left: 55px;
  }

  .truck-in-cart {
    width: 60px !important;
  }

  #h3-cart {
    margin-left: 30px;
  }

  .p-articles-amount {
    margin: 0px;
    font-size: 18px;
  }

  .price-title {
    margin-left: 0px;
    font-size: 18px;
  }
}
@media (max-width: 414px) {
  .css-1pxusvs-MuiGrid-root {
    margin-left: 50px !important;
  }

  .grid-layout {
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    height: 1000px;
  }

  #navBar ul {
    text-align: left;
  }

  .ul-navBar {
    margin-left: -25px;
  }

  #search {
    width: 76%;
  }

  #input-search {
    width: 85%;
    font-size: 15px;
  }

  #search-for {
    right: 24%;
  }

  #header-img {
    width: 17%;
  }

  #brand {
    float: none;
    margin-left: 114px;
    font-size: 30px;
    padding-top: 10px;
  }

  .div-navBar {
    padding-top: 10px;
  }

  .ul-navBar {
    margin-right: 22px;
  }

  #footer #p-footer {
    line-height: 20px;
    font-size: 14px;
  }

  #footer {
    height: 65px;
    padding-top: 21px;
  }

  .wrap {
    width: 90%;
  }

  .fish {
    grid-column: 1/7;
    grid-row: 1/2;
  }

  #content-fish {
    margin-left: -2%;
    height: 125px;
  }

  #content-fish #p1-span {
    font-size: 14px;
    background-color: #f3f5f7;
    border-radius: 3px;
    margin-top: -10%;
    opacity: 0.8;
    font-weight: bold;
  }

  #content-fish #p2-span {
    font-size: 20px;
    line-height: 16px;
    background-color: #f3f5f7;
    border-radius: 3px;
    padding-bottom: 4px;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  #content-fish #p3-span {
    font-size: 12px;
    margin-left: -16px;
  }

  .juices {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  #content-juices {
    width: 50%;
  }

  #content-juices #p1-span {
    color: #00bcd4;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 2px;
    line-height: 15px;
    background-color: #f3f5f7;
    opacity: 0.8;
    padding: 2px;
    border-radius: 3px;
  }

  #content-juices #p2-span {
    width: 55%;
    font-size: 20px;
    line-height: 15px;
    margin-left: 8px;
  }

  .alcohol {
    grid-column: 1/7;
    grid-row: 3/4;
  }

  #content-alcohol #p1-span {
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #content-alcohol #p2-span {
    font-size: 20px;
    line-height: 17px;
    margin-top: 8px;
    margin-left: 13px;
    width: 146%;
  }

  .delicatessen {
    grid-column: 1/7;
  }

  .bakery {
    grid-column: 1/7;
    grid-row: 5/6;
  }

  .pasta {
    grid-column: 1/7;
    grid-row: 6/7;
  }

  #content-delicatessen,
#content-bakery,
#content-pasta {
    padding: 9px 12px 12px 15px;
    margin-left: 0px;
  }

  .image-box {
    border: 1px solid #e3e3e3;
  }

  .grid-layout-electros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    min-height: 400px;
    margin-top: 5px;
    padding-bottom: 40px;
  }

  #content-electros {
    margin-top: 73px;
    width: 58%;
    float: left;
    margin-left: 60px;
    padding-top: 50px;
  }

  .electros {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 0px;
    background-position: 57px 10px;
    background-size: 70%;
  }

  #content-electros #p1-span {
    font-size: 25px;
  }

  #content-electros #p2-span {
    font-size: 21px;
  }

  .televisores {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .televisores #p-span,
.heladeras #p-span,
.climatizacion #p-span,
.desayuno #p-span,
.ventilacion #p-span,
.cuidadoPersonal #p-span {
    margin-top: 30px;
    margin-left: 110px;
  }

  .item-list {
    margin-left: 0px;
  }

  .css-1soc9cd-MuiPaper-root-MuiCard-root {
    max-width: 100% !important;
  }

  .box {
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 0px 3px 0px #d0d0d0;
  }

  .list-title {
    margin-top: 2em;
    margin-left: 50px;
  }

  .box {
    width: 80%;
    margin-left: 38px;
  }

  .css-a4f2b1 {
    max-width: 298px !important;
  }

  .css-1vb78ys {
    margin-left: 49px !important;
  }

  .css-7b8fbf {
    margin-left: 10px !important;
  }

  .css-j09zq2-MuiPaper-root-MuiCard-root {
    margin-top: 45px !important;
  }

  .css-3ktufm-MuiGrid-root {
    margin-left: -16px !important;
  }

  .btn-lightBlue {
    margin-left: -5px !important;
  }

  .css-1pxusvs-MuiGrid-root {
    margin-top: 20px !important;
    margin-bottom: 45px !important;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-left: 65px !important;
  }

  .css-1qtbgh3-MuiButtonBase-root-MuiButton-root {
    margin-left: 25px !important;
  }

  .detail-SmallCart {
    margin-left: 50px !important;
    margin-top: 25px !important;
    margin-bottom: 40px !important;
  }

  .detail-img {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
  }

  .detail-description {
    margin-left: 0px !important;
  }

  .css-1d485ge {
    margin-left: -16px !important;
  }

  .css-zuvg90 {
    margin-top: 50px !important;
  }

  .css-1hw9j7s {
    margin-left: 60px !important;
  }

  .css-jgrsjy {
    margin-left: 38px !important;
  }

  .cart-content {
    width: 90%;
  }

  .itemCount-content {
    margin-left: 130px;
  }

  .product-total-count {
    margin-left: 182px;
  }

  .productInCart-img {
    width: 130% !important;
  }

  .productInCart-description-content {
    margin-bottom: 30px;
    margin-left: 100px;
  }

  .productInCart-description {
    margin-left: 75px;
  }

  .x-product-delete {
    margin-left: 24px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #e26060;
    color: white;
    border: 0px;
    height: 28px;
    font-size: 15px;
  }

  .checkout-cart {
    padding-left: 17px;
  }

  .truck-in-cart {
    width: 185% !important;
  }

  #h3-cart {
    margin-left: 40px;
  }

  .productInCart-description {
    margin-top: -20px;
  }

  .itemCount-div {
    margin-left: 128px;
  }

  #price-product-cart {
    margin-left: 58px;
  }

  .price-title {
    margin-left: 0px;
  }

  .productListInCartView {
    border: 1px solid #f0f0f0;
    box-shadow: 0px 1px 6px 1px #9f9f9f;
  }

  .p-articles-amount {
    margin-left: 0px;
  }

  .btn-empty-view {
    margin-top: 40px !important;
    width: 80% !important;
  }

  .itemCount-container {
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .ul-navBar {
    margin-right: 9px;
  }

  .list-title {
    margin-left: 38px;
  }

  .css-a4f2b1 {
    max-width: 298px !important;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-left: 61px !important;
  }

  .css-1qtbgh3-MuiButtonBase-root-MuiButton-root {
    margin-left: 25px !important;
  }

  .productInCart-description {
    margin-left: 65px;
  }

  .product-total-count {
    margin-left: 170px;
  }

  .x-product-delete {
    width: 100%;
    background-color: #e26060;
    color: white;
    border: 0px;
  }

  .itemCount-div {
    margin-left: 119px;
  }

  #price-product-cart {
    margin-left: 55px;
  }

  .price-title {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=App.css.map */
