@use "./components/navBar/navBar";
@use "./components/cartWidget/cartWidget";
@use "./components/logo/logo";
@use "./components/itemListContainer/itemListContainer";
@use "./components/header/header";
@use "./components/search/search";
@use "./components/item/item";
@use "./components/itemCount/ItemCount";
@use "./components/itemList/itemList";
@use "./components/views/CashBox/cashBox";
@use "./components/smallCart/smallCart";
@use "./components/itemDetail/itemDetail";
@use "./components/productInCartView/productInCartView";
@use "./components//itemSmallCart/itemSmallCart";
@use "./components/Cart/cart";
@use "./components/itemDetailContainer/itemDetailContainer";

* {
  margin: 0px auto;
  padding: 0px auto;
  text-decoration: none;
}

.wrap {
  width: 70%;
}

.clearFix {
  clear: both;
  float: none;
}

.list-title {
  text-align: center;
  font-size: 25px;
  margin-top: 3em;
  margin-bottom: 40px;
  float: left;
}

.btn-lightBlue {
  margin-top: 30px !important;
  width: 39%;
  box-sizing: border-box;
  float: left;
  font-weight: 400;
  background: #47b8d6 !important;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px !important;
  margin-left: 35px !important;

  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease 0s;
}
