.layout {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-list{
  margin-left: 70px;
}

.box {
  border: 1px solid rgb(240, 240, 240);
  text-align: center;
  margin: 0px;
}

.list-title {
  text-align: center;
  font-size: 25px;
  margin-top: 3em;
  margin-bottom: 40px;
  margin-left: 70px;
  float: left;
  color: lightcoral;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
